/*.main {
    background: none;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
    */
.main-home{
    background-color: #201932;
    /*background: linear-gradient(to bottom right, rgb(14, 141, 204) 30%, rgb(24, 71, 130) 5%);*/
    min-width: 100vw;
    min-height: 100vh;
}

.title {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}

.hello-text {
    font-size: 50px;
    /*color: aliceblue;*/
    /*color: #2bbef2*/
    color: #e8d5b5;
}

.win-loss-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .ratio-container,
.testing-container {
    display: flex;
    justify-content: center;
} */

.ratio-text {
    font-size: 20px;
    color: #e8d5b5;
}

.ratio-number {
    margin-top: -10px;
    color: #00c3f2;
    font-size: 30px;
}

.win-loss-numbers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.win-number-container{
    margin-right: 50px;
    color: #e8d5b5;
}

.loss-number-container{
    margin-left: 50px;
    color: #e8d5b5;
}

.win-number {

}

.loss-number {

}

/* .testing-container {
    display: flex;
    justify-content: center;
} */

/* .pick-opponent-text {
    font-size: 40px;
    text-align: center;
    margin-top: 100;
    color: aliceblue;

} */

.opponent-select-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    
}

.play-game-button {
    margin-bottom: 20px;
    padding: 20px 70px 20px 70px;
    border-radius: 20px;
    font-size: 30px;
    background-color:#2bbef2;
    color:#201932;
}

.play-game-button:hover {
    opacity: 0.7;
}

.play-game-button:active {
    opacity: 0.9;
}

/* .practice {
    padding: 20px 64px 20px 64px;
    border-radius: 20px;
    font-size: 20px;
} */