/* inherited from log in page 
.main {
    
    
}
*/

.sign-in-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70px;
}

.sign-up-text {
    font-size: 40px;
    margin-bottom: 0;
}

.create-account-text {
    font-size: 20px;
    color: rgb(110, 94, 94);
}

/* inherited from log in page
.input-boxes {
    /*margin-left: 15px; 

*/
/* error-message is inherited from loginpage.css */
.signup-error-msg{
    margin-top: -50px;
    margin-bottom: 20px;
}

.sign-up-button {
    display: flex;
    justify-content: center;
}

.sign-up-button-text {
    color: white;
    background-color: rgb(74, 50, 170);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 15px;
    border-radius: 25px;
    border: none;
    transition: opacity 0.4s;
}

.sign-up-button-text:hover {
    opacity: 0.7;
}

.sign-up-button-text:active {
    opacity:0.9;
}